@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Euclid Circular B Regular';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(./fonts/EuclidCircularB-Regular.otf) format('opentype');
	}

	@font-face {
		font-family: 'Euclid Circular B Bold';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(./fonts/EuclidCircularB-Bold.otf) format('opentype');
	}
}

.c-select {
	&::after {
		content: url('../assets/dropdown.png');
		right: 0px;
		bottom: 0px;
		max-width: 34px;
		max-height: 34px;
	}
}

.c-password {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.c-password-eye {
	&::after {
		width: 44px;
		height: 44px;
		right: 0;
		bottom: 0;
		position: absolute;
	}
}
.c-password {
	input:focus,
	input:focus-visible {
		outline: none;
	}

	&:focus-within {
		outline: -webkit-focus-ring-color auto 1px;
	}
}
.c-password-eye {
	content: url('../assets/password-hidden.png');
}

.c-password-eye_shown {
	content: url('../assets/password-shown.png');
}
